# Imports

In [388]:
import pandas as pd
import numpy as np

# EDA

In [389]:
df = pd.read_excel('online_retail_data.xlsx')
print(df.shape)
df.head()

(541909, 8)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [390]:
# save a backup copy of our dataframe
df_copy = df.copy()

> let's see the geographical regions that we're dealing with

In [391]:
df.Country.unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

> Let's view the data from a Customer perspective

In [392]:
customer_data = df.set_index(['CustomerID', 'InvoiceNo'])
print(customer_data.shape)
customer_data.head(30)

(541909, 6)

                     StockCode                          Description  Quantity  \
CustomerID InvoiceNo
17850.0    536365       85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
           536365        71053                  WHITE METAL LANTERN         6
           536365       84406B       CREAM CUPID HEARTS COAT HANGER         8
           536365       84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
           536365       84029E       RED WOOLLY HOTTIE WHITE HEART.         6
           536365        22752         SET 7 BABUSHKA NESTING BOXES         2
           536365        21730    GLASS STAR FROSTED T-LIGHT HOLDER         6
           536366        22633               HAND WARMER UNION JACK         6
           536366        22632            HAND WARMER RED POLKA DOT         6
13047.0    536367        84879        ASSORTED COLOUR BIRD ORNAMENT        32
           536367        22745           POPPY'S PLAYHOUSE BEDROOM          6
           536367        22748            POPPY'S PLAYHOUSE KITCHEN         6
           536367        22749    FELTCRAFT PRINCESS CHARLOTTE DOLL         8
           536367        22310              IVORY KNITTED MUG COSY          6
           536367        84969   BOX OF 6 ASSORTED COLOUR TEASPOONS         6
           536367        22623        BOX OF VINTAGE JIGSAW BLOCKS          3
           536367        22622       BOX OF VINTAGE ALPHABET BLOCKS         2
           536367        21754             HOME BUILDING BLOCK WORD         3
           536367        21755             LOVE BUILDING BLOCK WORD         3
           536367        21777          RECIPE BOX WITH METAL HEART         4
           536367        48187                  DOORMAT NEW ENGLAND         4
           536368        22960             JAM MAKING SET WITH JARS         6
           536368        22913          RED COAT RACK PARIS FASHION         3
           536368        22912       YELLOW COAT RACK PARIS FASHION         3
           536368        22914         BLUE COAT RACK PARIS FASHION         3
           536369        21756             BATH BUILDING BLOCK WORD         3
12583.0    536370        22728            ALARM CLOCK BAKELIKE PINK        24
           536370        22727            ALARM CLOCK BAKELIKE RED         24
           536370        22726           ALARM CLOCK BAKELIKE GREEN        12
           536370        21724      PANDA AND BUNNIES STICKER SHEET        12

                             InvoiceDate  UnitPrice         Country
CustomerID InvoiceNo
17850.0    536365    2010-12-01 08:26:00       2.55  United Kingdom
           536365    2010-12-01 08:26:00       3.39  United Kingdom
           536365    2010-12-01 08:26:00       2.75  United Kingdom
           536365    2010-12-01 08:26:00       3.39  United Kingdom
           536365    2010-12-01 08:26:00       3.39  United Kingdom
           536365    2010-12-01 08:26:00       7.65  United Kingdom
           536365    2010-12-01 08:26:00       4.25  United Kingdom
           536366    2010-12-01 08:28:00       1.85  United Kingdom
           536366    2010-12-01 08:28:00       1.85  United Kingdom
13047.0    536367    2010-12-01 08:34:00       1.69  United Kingdom
           536367    2010-12-01 08:34:00       2.10  United Kingdom
           536367    2010-12-01 08:34:00       2.10  United Kingdom
           536367    2010-12-01 08:34:00       3.75  United Kingdom
           536367    2010-12-01 08:34:00       1.65  United Kingdom
           536367    2010-12-01 08:34:00       4.25  United Kingdom
           536367    2010-12-01 08:34:00       4.95  United Kingdom
           536367    2010-12-01 08:34:00       9.95  United Kingdom
           536367    2010-12-01 08:34:00       5.95  United Kingdom
           536367    2010-12-01 08:34:00       5.95  United Kingdom
           536367    2010-12-01 08:34:00       7.95  United Kingdom
           536367    2010-12-01 08:34:00       7.95  United Kingdom
           536368    2010-12-01 08:34:00       4.25  United Kingdom
           536368    2010-12-01 08:34:00       4.95  United Kingdom
           536368    2010-12-01 08:34:00       4.95  United Kingdom
           536368    2010-12-01 08:34:00       4.95  United Kingdom
           536369    2010-12-01 08:35:00       5.95  United Kingdom
12583.0    536370    2010-12-01 08:45:00       3.75          France
           536370    2010-12-01 08:45:00       3.75          France
           536370    2010-12-01 08:45:00       3.75          France
           536370    2010-12-01 08:45:00       0.85          France

In [393]:
len(df.CustomerID.unique())

4373

# Data Discovery

- 4372 Unique CustomerID values
- 25900 Unique InvoiceNo values
- 4070 Unique StockCode values
- 38970 max unit price
- 0.03 min unit price
- 9,287 returns
- date range is (2010-12-01 to 2011-12-09)

 # Data Cleaning / Wrangling / Transformations

> Let's first clean up the dataset by removing uncessary observations, observations without a customer ID (our clustering target) etc...

In [394]:
df[df.StockCode == 'B']

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
299982,A563185,B,Adjust bad debt,1,2011-08-12 14:50:00,11062.06,NaN,United Kingdom
299983,A563186,B,Adjust bad debt,1,2011-08-12 14:51:00,-11062.06,NaN,United Kingdom
299984,A563187,B,Adjust bad debt,1,2011-08-12 14:52:00,-11062.06,NaN,United Kingdom

In [395]:
df = df[df.StockCode != 'B']

> A few items that are priced less than 0.01 and the quantity doesn't bring them to 0.01 will also be dropped

In [396]:
df = df[df.UnitPrice > .01]

> Restrict the dataset to one full year of transaction data

In [397]:
df.InvoiceDate.min()

Timestamp('2010-12-01 08:26:00')

In [398]:
df.InvoiceDate.max()

Timestamp('2011-12-09 12:50:00')

In [399]:
df = df[df['InvoiceDate'] <= '2011-12-01 23:59:59']

In [400]:
df.InvoiceDate.max()

Timestamp('2011-12-01 19:54:00')

> Remove observations without a Customer ID

In [401]:
df.isna().sum()

InvoiceNo           0
StockCode           0
Description         0
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     125466
Country             0
dtype: int64

In [402]:
df = df[np.isfinite(df['CustomerID'])]
print(df.shape)

(391349, 8)

> Add total revenue per Unit for future computations

In [403]:
df['TotalRevenue'] = df['Quantity'] * df['UnitPrice']
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalRevenue
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34

# Feature Engineering: "RFM" Variables (Recency, Frequency, MonetaryValue)

The original dataset was organized long, with invoices nested within customer and observations given as transactions.  We will now create a customer-level dataset and add add recency, frequency, and monetary value data to it . The `Recency` variable refers to the number of days that have elapsed since the customer last purchased something (so, smaller numbers indicate more recent activity on the customerâ€™s account). `Frequency` refers to the number of invoices with purchases during the year. `MonetaryValue` is the amount that the customer spent during the year. Some customers have negative monetary values. These customers probably returned something during the year that they had purchased before the year started, so we reset their monetary value to zero.  We will also aggregate the `TotalQuantity` of items each customer purchased over the year, and feed that into our clustering model.  Let's extract the data we need at the customer level

> Total quantity of items purchased

In [404]:
total_quantity = df.groupby(['CustomerID'], as_index=False).Quantity.sum()
total_quantity.head()

   CustomerID  Quantity
0     12346.0         0
1     12347.0      2266
2     12348.0      2341
3     12349.0       631
4     12350.0       197

> Recency

In [405]:
# find number of days since last purchase by substracting invoice date from last day of the fiscal year
df['Recency'] = df['InvoiceDate'].max() - df['InvoiceDate']
df.head(30)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalRevenue,Recency
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,365 days 11:28:00
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,365 days 11:28:00
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00,365 days 11:28:00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,365 days 11:28:00
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,365 days 11:28:00
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom,15.30,365 days 11:28:00
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom,25.50,365 days 11:28:00
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom,11.10,365 days 11:26:00
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom,11.10,365 days 11:26:00
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047.0,United Kingdom,54.08,365 days 11:20:00
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom,12.60,365 days 11:20:00
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom,12.60,365 days 11:20:00
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,2010-12-01 08:34:00,3.75,13047.0,United Kingdom,30.00,365 days 11:20:00
13,536367,22310,IVORY KNITTED MUG COSY,6,2010-12-01 08:34:00,1.65,13047.0,United Kingdom,9.90,365 days 11:20:00
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,2010-12-01 08:34:00,4.25,13047.0,United Kingdom,25.50,365 days 11:20:00
15,536367,22623,BOX OF VINTAGE JIGSAW BLOCKS,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom,14.85,365 days 11:20:00
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,2010-12-01 08:34:00,9.95,13047.0,United Kingdom,19.90,365 days 11:20:00
17,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom,17.85,365 days 11:20:00
18,536367,21755,LOVE BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom,17.85,365 days 11:20:00
19,536367,21777,RECIPE BOX WITH METAL HEART,4,2010-12-01 08:34:00,7.95,13047.0,United Kingdom,31.80,365 days 11:20:00
20,536367,48187,DOORMAT NEW ENGLAND,4,2010-12-01 08:34:00,7.95,13047.0,United Kingdom,31.80,365 days 11:20:00
21,536368,22960,JAM MAKING SET WITH JARS,6,2010-12-01 08:34:00,4.25,13047.0,United Kingdom,25.50,365 days 11:20:00
22,536368,22913,RED COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom,14.85,365 days 11:20:00
23,536368,22912,YELLOW COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom,14.85,365 days 11:20:00
24,536368,22914,BLUE COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom,14.85,365 days 11:20:00
25,536369,21756,BATH BUILDING BLOCK WORD,3,2010-12-01 08:35:00,5.95,13047.0,United Kingdom,17.85,365 days 11:19:00
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583.0,France,90.00,365 days 11:09:00
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,2010-12-01 08:45:00,3.75,12583.0,France,90.00,365 days 11:09:00
28,536370,22726,ALARM CLOCK BAKELIKE GREEN,12,2010-12-01 08:45:00,3.75,12583.0,France,45.00,365 days 11:09:00
29,536370,21724,PANDA AND BUNNIES STICKER SHEET,12,2010-12-01 08:45:00,0.85,12583.0,France,10.20,365 days 11:09:00

In [406]:
# get time since most recent purchase
recency = df.groupby(['CustomerID'], as_index=False)['Recency'].min() 
print(recency.dtypes)
recency.head()

CustomerID            float64
Recency       timedelta64[ns]
dtype: object

   CustomerID           Recency
0     12346.0 317 days 09:37:00
1     12347.0  31 days 07:29:00
2     12348.0  67 days 06:41:00
3     12349.0  10 days 10:03:00
4     12350.0 302 days 03:53:00

In [407]:
# change timedelta to days (dtype int)
recency['Recency'] = recency['Recency'] / np.timedelta64(1, 'D')

In [408]:
recency['Recency'] = recency['Recency'].astype(int)
recency['Recency'].head()

0    317
1     31
2     67
3     10
4    302
Name: Recency, dtype: int64

> Frequency

In [409]:
frequency = df.groupby(['CustomerID'], as_index=False).InvoiceNo.count()
frequency.head()

   CustomerID  InvoiceNo
0     12346.0          2
1     12347.0        171
2     12348.0         31
3     12349.0         73
4     12350.0         17

> Customer Monetary Value

In [410]:
# total spend of each customer
monetary_value = df.groupby('CustomerID', as_index=False).TotalRevenue.sum()
monetary_value['TotalRevenue'] = round(monetary_value['TotalRevenue'], 2)
monetary_value.head()

   CustomerID  TotalRevenue
0     12346.0          0.00
1     12347.0       4085.18
2     12348.0       1797.24
3     12349.0       1757.55
4     12350.0        334.40

> __Customer-Level Data:__  we can now merge our dataframes to work with the data at the customer level

In [411]:
dfs = [recency, frequency, monetary_value]

for df in dfs:
    df = df.drop(['CustomerID'], inplace=True, axis=1)

customer_level_data = pd.concat([total_quantity, recency, frequency, monetary_value], axis=1)
customer_level_data.columns = ['CustomerID', 'TotalQuantity', 'Recency', 'Frequency', 'MonetaryValues']
customer_level_data.head(10)

   CustomerID  TotalQuantity  Recency  Frequency  MonetaryValues
0     12346.0              0      317          2            0.00
1     12347.0           2266       31        171         4085.18
2     12348.0           2341       67         31         1797.24
3     12349.0            631       10         73         1757.55
4     12350.0            197      302         17          334.40
5     12352.0            470       28         95         1545.41
6     12353.0             20      196          4           89.00
7     12354.0            530      224         58         1079.40
8     12355.0            240      206         13          459.40
9     12356.0           1591       14         59         2811.43